.app {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  margin-top: 5vh;
  margin: auto;
  
}

.header {
  height: 100%; /* Upewniamy się, że nagłówek zajmuje całą wysokość */
  width: 60%; /* Ustawienie szerokości na 100% */
  color: #fff; /* Kolor tekstu */
  font-size: 24px; /* Większy rozmiar czcionki */
  background: linear-gradient(45deg, #ee3ed1, #a055f7); /* Gradient kolorów */
  padding: 10px; /* Padding dookoła nagłówka */
  border-radius: 8px; /* Zaokrąglenie krawędzi */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Cień */
  transition: background 1s ease;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.header:hover {
  background: linear-gradient(45deg, #a055f7, #ee3ed1); /* Zmiana kolorów gradientu */
}

.main-content {
  margin-top: 40px;
  padding: 0;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 61%;
}

.form {
  width: 100%;
  margin: 0;
}

.product-form {
  border-radius: 1.5%;
  margin-bottom: 20px;
  background: #f9f9f9;
  padding: 2%;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.infoIcon {
  font-size: 14px;
  color: #888;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle; /* Ustawienie wyrównania */
}

/* Styl tooltipa, który pojawia się po najechaniu */
.tooltip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  top: -5px;
  left: 25px;
  font-size: 12px;
  z-index: 10;
  width: 200px;
  text-align: left;
}

.infoIcon:hover .tooltip {
  display: block;
}

.buy-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff69b4; /* Różowy kolor */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.buy-button:hover {
  background-color: #ff1493; /* Ciemniejszy różowy kolor */
}

.BiInfoCircle {
  vertical-align: top
}

.form-group {
  margin-bottom: 20px;
}



@media (max-width: 768px) {
  .infoIcon {
    font-size: 12px; /* Mniejsza ikona na urządzeniach mobilnych */
  }

  .tooltip {
    font-size: 10px; /* Mniejszy tekst podpowiedzi */
    width: 150px; /* Zmniejszenie szerokości tooltipa */
    left: 15px; /* Dostosowanie pozycji na mniejszych ekranach */
  }
  .form {
    margin: auto;
    width: 100%;
  }
  .app {
    max-width: 100%; /* Zwiększamy maksymalną szerokość na małych ekranach */
    margin: auto; /* Dostosowujemy margines */
  }

  .header {
    width: 86%;
    margin-left: auto; /* Dostosowujemy margines */
    margin-right: auto; /* Dostosowujemy margines */
  }

  .main-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .product-form {
    padding: 5%; /* Mniejsze paddingi w formularzu */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-group {
    margin-bottom: 10px; /* Mniejsze marginesy między grupami */
  }

  .form-group label {
    font-size: 14px; /* Mniejszy rozmiar czcionki dla etykiet */
  }

  .form-group select,
  .form-group input {
    font-size: 14px; /* Mniejszy rozmiar czcionki dla pól formularza */
  }

  .buy-button {
    padding: 8px; /* Mniejsze paddingi przy przycisku */
    font-size: 14px; /* Mniejszy rozmiar czcionki przycisku */
  }

}
