.form-and-image {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .iphone-image {
    width: 40%; /* Szerokość kontenera obrazu */
    text-align: center;
  }
  
  .iphone-image img {
    width: 100%; 
    margin-left: 30%;
    margin-top: 25%;
  }
  